@import '@/shared/style/variables.scss';

.cart {
	width: 100%;
	min-width: 300px;
	max-width: 900px;
	padding: 15px 20px;
	border-radius: $--Border-radius-size;
	background-color: $--Colors-white;
	display: flex;
	flex-direction: column;
	gap: 10px;
	border: none;
}

.title {
	font-size: $--Font-size-l;
	margin: 0;
	font-family: $--Font;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0px;
	text-align: center;
	word-wrap: break-word;
	
}

.cartItems {
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	display: grid;
	gap: 10px;
}

.cartItem {
	list-style: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: grid;
	grid-template-columns: minmax(150px, 7fr) minmax(min-content, 1fr) minmax(min-content, 2fr);
	align-items: center;
	gap: 10px;
	
	
}


.itemText {
	margin: 0;
	font-size: $--Font-size-m;
	font-family: $--Font;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0px;
	word-wrap: break-word;
	overflow: hidden;
	text-align: end;
	
	&:first-child {
		text-align: start;
	}
	
}

.total {
	margin: 10px;
	font-family: $--Font;
	font-size: $--Font-size-l;
	flex: 0 1 auto;
	text-align: end;
	
	&::before {
		content: 'Итого: ';
	}
	
	&::after {
		content: '₽';
	}
}


.price {
	margin: 15px 0 33px 0;
	font-family: $--Font;
	
	font-size: $--Font-size-l;
	flex: 0 1 auto;
	text-align: center;
	
	&::before {
		content: 'Цена: ';
	}
	
	&::after {
		content: '₽';
	}
}

.button {
	display: flex;
	gap: 10px;
}
