$--Colors-black: #222;
$--Colors-white: #D9D9D9;
$--Colors-black-hover: rgba(34, 34, 34, .8);
$--Colors-white: #D9D9D9;

$--Font: 'Inter', sans-serif;

$--Font-size-xl: 96px;
$--Font-size-l: 36px;
$--Font-size-m: 24px;

$--Border-radius-size: 15px;

