/* сброс стандартных стилей */
@import url('../shared/style/normalize.css');

/* Подключение шрифтов  */
@import url('../shared/assets/fonts/fonts.css');

* {
  box-sizing: border-box;
}

html,
body {
  padding: 15px;
  max-width: 1920px;
  min-width: 375px;
  /*height: 100vh;*/
}

body {
  display: flex;
  flex-direction: column;
  height: max-content;
  align-items: center;
  justify-content: center;
  /* Синяя подсветка сливается с фоном */
  -webkit-tap-highlight-color: transparent;
  /* Предотвращаем появление контекстного меню на устройствах Apple */
  -webkit-touch-callout: none;
  /* Осторожно относимся к выбору контента */
  -webkit-user-select: none;
}
